.accordion-item{
  background-color: #000000;
  border-radius: .4rem;
}

.accordion-item hr{
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link{
  font-size: 1.6rem;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  background-color: #000000;
  border: 0;
  cursor: pointer;
  text-align: left;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.2rem 1rem 0;
}

.accordion-link h3{
  font-weight:500;
  font-size: 20px;
}

.accordion-link i{
  color: #e7d5ff;
  padding: .5rem;
}

.accordion-link ul{
  display:flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordion-link li{
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 1px 5px;
}

.accordion-link div{
  display: flex;
}

.accordion-link .icon{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 320ms ease-in-out, transform 320ms ease-in-out;
}

.accordion-link .ion-md-arrow-forward{
  opacity: 1;
}

.accordion-link .ion-md-arrow-down{
  opacity: 0;
  transform: translateY(-50%) rotate(-90deg);
}

.answer{
  max-height: 0;
  opacity: 0;
  transform: translateY(-6px);
  overflow: hidden;
  position: relative;
  background-color: #000;
  transition: max-height 320ms ease-in-out, opacity 320ms ease-in-out, transform 320ms ease-in-out;
}

.answer p{
  color: #fff;
  font-size: 1rem;
  
}

.answer p:last-child {
    padding-bottom: 2rem;
}

.accordion-item.is-open .answer,
.answer.is-open {
  max-height: 40rem;
  opacity: 1;
  transform: translateY(0);
}

.accordion-item.is-open .accordion-link .ion-md-arrow-forward{
  opacity: 0;
  transform: translateY(-50%) rotate(90deg);
}

.accordion-item.is-open .accordion-link .ion-md-arrow-down{
  opacity: 1;
  transform: translateY(-50%) rotate(0deg);
}