@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-slate-200;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Parkinsans", sans-serif;
}
body h1 {
  font-size: 4rem;
  font-weight: 900;
}

body h1::first-letter {
     text-shadow: -5px 5px 0px #07bccc,
    -10px 10px 0px #e601c0,
    -15px 15px 0px #e9019a,
    -20px 20px 10px #482896;
}

body p {
  margin-bottom: 1rem;
}
body p:last-child {
  margin-bottom: 0;
}